body {
    font-family: sans-serif;
    background-color:#FEFFC8;
}

header{
    background-color: #00F845;
    color: white;
}

header h1{
    text-align: center;
}

main p{
    text-align: center;
}

main img{
    display: flex;
    justify-content: center;
}

footer p{
    background-color: #0D5C00;
    color: white;
}

footer{
    margin-top: 574px;
}

h2{
    border: 2px solid #879C07;
    border-radius: 100px;
    background-color: #8CD17A;
    padding: 15px;
}

nav a{
    color: white;
    border: 3px solid #2A27B4;
    border-radius: 100px;
    background-color: #0D5C00;
    padding: 15px;
    margin: 50px;
}

.navigation{
    text-align: center;
}
